body, html, .bodyDiv{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://i.postimg.cc/gJtgh8Ss/design-tools.jpg);
}

.topWrapper{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

.topContainer{
    text-align: center;
    align-items: center;
    background-color: #19194d;
    border-radius: 5px;
    margin: 5px;
}

.textTop{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

#theQuestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000;
    line-height: 30px;
    min-height: 30px;
    background-color: white;
    margin-bottom: 16px;
    margin-top: 0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#theAnswer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000;
    line-height: 30px;
    min-height: 30px;
    background-color: white;
    margin-bottom: 16px;
    margin-top: 0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.topButContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.topButton{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    outline: none;
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background-color: #9f9fdf;
}

.topButton:active {
    background-color: #99ff33;
    color: black;
}

#myTranslation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000;
    line-height: 30px;
    min-height: 30px;
    background-color: white;
    margin-bottom: 16px;
    margin-top: 0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.inputWrapper{
    display: flex;
    justify-content: center;
}

.bottomWrapper{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

.bottomContainer{
    width: 100%;
    margin: 0;
}